In [2]:
import pandas as pd

In [14]:
df = pd.read_csv('HiveLink - Sheet1.csv')
df_clean = df.head(865)

In [15]:
df_clean.tail()

,Date,Time,Hive Temperature( °C ),Hive Humidity( % ),Supplement Quantity( mL ),Weight(Grams)
860,10/31/2023,11:01 PM,28.7,56,409,4.86
861,10/31/2023,11:02 PM,28.8,56,424,5.86
862,10/31/2023,11:03 PM,28.8,56,406,10.07
863,10/31/2023,11:04 PM,28.8,56,404,5.76
864,10/31/2023,11:05 PM,28.8,55,412,4.85

In [17]:
null_values = df_clean.isnull().sum()
null_values

Date                         0
Time                         0
Hive Temperature( °C )       0
Hive Humidity( % )           0
Supplement Quantity( mL )    0
Weight(Grams)                0
dtype: int64